---
// Styles
import "@fontsource/manrope/800.css"
import '~/styles/global.css'

// Components
import Card from '~/components/Card.svelte';
import { fetchAdvice } from 'src/helpers/fetchAdvice';

// Fetch inital quote server side
const { slip } = await fetchAdvice();
---

<style>
	.main {
		display: grid;
		place-items: center;
		height: 100vh;
	}

	.card-wrapper {
		margin: 0 16px;
	}


	/* Media Queries */

	/* Tablet Breakpoint */
	@media (min-width: 768px) {
		.card-wrapper {
			width: 100%;
			max-width: 500px;
		}
	}

	/* Desktop Breakpoint */
	@media (min-width: 1024px) {
		.card-wrapper {
			max-width: 600px;
		}
	}
</style>

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Astro</title>
</head>

<body>
	<main class="main">
		<div class="card-wrapper">
			<Card client:idle adviceNumber={slip.id} adviceText={slip.advice} />
		</div>
	</main>
</body>

</html>