---
// Styles
import '~/styles/reset.css'
import '~/styles/global.css'

// Components
import Card from '~/components/Card.svelte';
---

<style>
	.main {
		display: grid;
		place-content: center;
		height: 100vh;
		margin: 0 16px;
	}
</style>

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Astro</title>
</head>

<body>
	<main class="main">
		<Card />
	</main>
</body>

</html>